<p><a href="{{ urlForTalk(event.getUrlFriendlyName, talk.getUrlFriendlyTalkTitle) }}">{{ talk.title }}</a></p>
<p>{% for speaker in talk.speakers %}
    <span class="speaker">
        {{ profileLink(speaker.speaker_name, speaker.speaker_uri) }}{% if loop.last %},{% endif %}
    </span>
    {% endfor %}
</p>
